.div2 {
  width: 200px;
}
.div3 {
  width: 200px;
  height: 200px;
  overflow-y: scroll;
}
#eum {
  margin: 40px;
}
#hidden-picture {
  /*   display: none;
 */
  visibility: hidden;

  height: 500px;
  width: 300px;
}
